<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #div_1{
            /* display: block */
            margin: auto;
            width: 217px;
            height: 40px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(192, 31, 65);
            border-radius: 20px;
            text-align: center;
            background-color: rgb(192, 31, 65);
        }

        p{
            color: white;
            margin: 10.8px 0px;
        }

    </style>
    
</head>
<body>
    <div id="div_1">
        <p>THÊM VÀO GIỎ HÀNG</p>
    </div>
</body>
</html>